body {
  display: flex;
  font-family: "Indie Flower", cursive;
}
.container {
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 55vh;
  margin-inline: 10px;
  margin-top: 14rem;
}

.wrap1,
.wrap2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wrap1 div,
.wrap2 div {
  width: 290px;
  height: 250px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);

  transition: transform 2s;
  /* transition: width 2s; */
  /* transform: translateZ(-500px); */
  animation: taDa 300ms ease-in 840ms;
}

.wrap1 {
  margin-bottom: 56px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  left: 65px;
  top: 60px;
}
p {
  font-size: 30px;
  position: relative;
  top: 80px;
  left: 45px;
}

.giallo {
  width: 270px;
  height: 250px;
  background: linear-gradient(to bottom, #fdf5c1, #e8e08a);
  rotate: 354deg;
}

.verde-chiaro {
  width: 280px;
  height: 260px;
  background: linear-gradient(to bottom, #d2e8b6, #b5d0a4);
  rotate: 10deg;
}

.lilla {
  width: 290px;
  height: 255px;
  background: linear-gradient(to bottom, #c9bde5, #b9b1d0);
  rotate: 352deg;
}

@keyframes taDa {
  from {
    transform: perspective(1000px) translateZ(2500px);
  }

  to {
    transform: perspective(1000px) translateZ(0);
  }
}

.giallo:hover {
  width: 290px;
  height: 250px;
  rotate: 0deg;
}
.verde-chiaro:hover {
  width: 290px;
  height: 250px;
  rotate: 0deg;
}
.lilla:hover {
  width: 290px;
  height: 250px;
  rotate: 0deg;
}
